body {
  overflow-x: hidden;
  margin: 0;
}

/* CSS for all headers */
.h3Style {
  text-align: center;
  margin-top: -10px;
  padding: 25px;
  margin-bottom: 10px;
  background-color: #00BFA5;
  color: white;
}

/* CSS for sidebar */
.link {
  text-decoration: none;
}

/* CSS for StandUpIndex */
.listing {
  padding: 5px;
  padding-left: 10px;
  color: #37474F;
}

/* CSS for StandUpNew */
.form {
  padding: 50px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.button {
  float: right;

}

.button Button {
  background-color: #00BFA5;
  color: white;
  border: 2px solid #00BFA5;
  padding: 10px 50px;
  margin: 15px;
}

.button Button:hover {
  background-color: white;
  color: #00BFA5;
}
